.container1 {
    margin-top: 5%;
}

 .aboutColumn h1, h2, h4, p {
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: white
}

.iconRow{
    margin-top: 20px;
    justify-content: space-around;
}