.aboutContainer {
    margin-top: 5%;
}

 .aboutColumn h1, h2, h4{
    text-align: center;
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: white

}

.aboutColumn p {
    font-family: 'Meriweather', serif ;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-align: left;
}

.iconRow{
    margin-top: 20px;
    justify-content: space-evenly;
}