.picture {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-position: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}